body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 6px;
}
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }

  
  .container {

    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

  /* Links */
  a:hover {
    color: rgb(2, 71, 161);
  }

  a:link {
    text-decoration: none;
  }


  /* Main page css */
  
  
  /* Fake image */
  .imgArticlePreview {
    background-color: #aaa;
    width: 50%;
    padding: 20px;
  }

  .badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #a56868;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}
.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

/* Tags */

.card {
  display: block !important;
}


table.e4,
td.e4,tr.e4 {
    border: 2px solid #333;
    text-align: center;
}

td {
  max-width: 800px;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
