{% extends 'base.html.twig' %}

{% block title %}Hello Epreuvee4Controller!{% endblock %}

{% block body %}
<table>
    <tbody>
    <tr style="height: 63px;">
    <td style="height: 63px;">&nbsp;</td>
    <td style="height: 63px;"><a href="tag/2">G&eacute;rer le patrimoine informatique &nbsp;</a></td>
    <td style="height: 63px;"><a href="tag/3">&nbsp;R&eacute;pondre aux incidents et aux demandes d&rsquo;assistance et d&rsquo;&eacute;volution</a></td>
    <td style="height: 63px;"><a href="tag/4">&nbsp;D&eacute;velopper la pr&eacute;sence en ligne de l&rsquo;organisation</a></td>
    <td style="height: 63px;"><a href="tag/5">&nbsp;Travailler en mode projet</a></td>
    <td style="height: 63px;"><a href="tag/6">&nbsp;Mettre &agrave; disposition des utilisateurs un service informatique</a></td>
    <td style="height: 63px;"><a href="tag/7">&nbsp;Organiser son d&eacute;veloppement professionnel</a></td>
    </tr>
    <tr style="height: 43px;">
    <td style="height: 43px;">AP 1.1 - R&eacute;servations Salles (C#)&nbsp;</td>
    <td style="height: 43px;">&nbsp;</td>
    <td style="height: 43px;">&nbsp;X</td>
    <td style="height: 43px;">&nbsp;</td>
    <td style="height: 43px;">&nbsp;</td>
    <td style="height: 43px;">&nbsp;</td>
    <td style="height: 43px;">&nbsp;</td>
    </tr>
    <tr style="height: 63px;">
    <td style="height: 63px;">&nbsp;AP 1.2 - Statistiques R&eacute;servations Salles (C#)</td>
    <td style="height: 63px;">&nbsp;</td>
    <td style="height: 63px;">&nbsp;</td>
    <td style="height: 63px;">&nbsp;</td>
    <td style="height: 63px;">&nbsp;</td>
    <td style="height: 63px;">&nbsp;X</td>
    <td style="height: 63px;">&nbsp;</td>
    </tr>
    <tr style="height: 23px;">
    <td style="height: 23px;">&nbsp;AP 1.3 - CV</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;X</td>
    </tr>
    <tr style="height: 23px;">
    <td style="height: 23px;">&nbsp;AP 2.1 - G&eacute;n&eacute;rateur SQL (C#)</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;X</td>
    <td style="height: 23px;">&nbsp;X</td>
    <td style="height: 23px;">&nbsp;</td>
    </tr>
    <tr style="height: 23px;">
    <td style="height: 23px;">&nbsp;AP 2.2 &ndash; Cybers&eacute;curit&eacute; (Identit&eacute; Num&eacute;rique)</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;X</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    </tr>
    <tr style="height: 23px;">
    <td style="height: 23px;">&nbsp;AP 2.3 &ndash; M2L JPO (C#)</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;X</td>
    <td style="height: 23px;">&nbsp;X</td>
    <td style="height: 23px;">&nbsp;</td>
    </tr>
    <tr style="height: 23px;">
    <td style="height: 23px;">&nbsp;AP 2.4 - Cr&eacute;ation d&rsquo;un site web statique (HTML/CSS)</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;X</td>
    <td style="height: 23px;">&nbsp;X</td>
    <td style="height: 23px;">&nbsp;</td>
    </tr>
    <tr style="height: 23px;">
    <td style="height: 23px;">&nbsp;AP 2.5 &ndash; GSB (Java FX)</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;X</td>
    <td style="height: 23px;">&nbsp;X</td>
    </tr>
    <tr style="height: 23.5px;">
    <td style="height: 23.5px;">AP 3.1 &ndash; M2L dynamique (PHP)</td>
    <td style="height: 23.5px;">&nbsp;X</td>
    <td style="height: 23.5px;">&nbsp;</td>
    <td style="height: 23.5px;">&nbsp;</td>
    <td style="height: 23.5px;">&nbsp;X</td>
    <td style="height: 23.5px;">&nbsp;X</td>
    <td style="height: 23.5px;">&nbsp;</td>
    </tr>
    <tr style="height: 23px;">
    <td style="height: 23px;">&nbsp;AP 3.2 &ndash; MeetingsBooker (Java FX)</td>
    <td style="height: 23px;">&nbsp;X</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">X</td>
    <td style="height: 23px;">X</td>
    <td style="height: 23px;">&nbsp;</td>
    </tr>
    <tr style="height: 23px;">
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">X</td>
    <td style="height: 23px;">&nbsp;X</td>
    <td style="height: 23px;">&nbsp;</td>
    <td style="height: 23px;">&nbsp;X</td>
    <td style="height: 23px;">&nbsp;X</td>
    <td style="height: 23px;">&nbsp;</td>
    </tr>
    </tbody>
    </table>
    <!-- DivTable.com -->
{% endblock %}
