{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block body %}
    <h1>Tag: {{ tag.name }} </h1>
    
    <table class="table">
        <h3>Liste des articles comprenant ce tag:</h3>
        <tbody>
            <caption>Liste des articles comprenant ce tag:</caption>
            {% for post in tag.posts %} 
            <tr>
                <th>Nom: </th>
                <td ><a href="/post/{{ post.id }}">{{ post.nom }}</a></td>
            </tr>
             {% endfor %}
            
        </tbody>
    </table>

    <a href="{{ path('app_tag_index') }}">Liste de tous les tags</a>
{% endblock %}
